<h2>Ativos</h2>

<div class="caixa-formulario">
    <h3>Filtro</h3>
    <form class="formulario-filtro" [formGroup]="filtroForm" (ngSubmit)="filtroFormSubmit()">
        <input type="text" formControlName="ticker" placeholder="Identificador na bolsa" maxlength="10">
        <input type="number" formControlName="valor" placeholder="Preço">
        <input type="number" formControlName="qtd" placeholder="Qtd">
        <input type="date" formControlName="dataMovimentacao">
        <button type="submit">Filtrar</button>
    </form>
</div>

<ng-container *ngIf="ativosMovimentados$ | async as ativos; else CARREGANDO_MOVIMENTOS">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ticker</th>
                <th>Valor Un. R$</th>
                <th>Qtd.</th>
                <th>Data Movimentação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ativo of ativos | filtroLista: filtroCallback : filtroSelecionado" [id]="ativo.id" (dblclick)="selecionarLinha(ativo.id)"
            [style.cursor]="'pointer'">
                <td>{{ativo.id}}</td>
                <td>{{ativo.ticker}}</td>
                <td>{{ativo.valor | currency:"BRL":"symbol-narrow":"1.2-2"}}</td>
                <td>{{ativo.qtd}}</td>
                <td>{{ativo.dataMovimentacao | date:"dd/MM/yyyy"}}</td>
                <td><button (click)="excluirMovimentacao(ativo.id)" title="Remover">R</button></td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #CARREGANDO_MOVIMENTOS> Carregando...</ng-template>

<div class="caixa-formulario">
    <h3>Inclusão</h3>
    <form class="formulario-inclusao" [formGroup]="movimentacaoAtivoForm" (ngSubmit)="formSubmit()">
        <input type="text" formControlName="ticker" placeholder="Identificador na bolsa" maxlength="10">
        <input type="number" formControlName="valor" placeholder="Preço">
        <input type="number" formControlName="qtd" placeholder="Qtd">
        <input type="date" formControlName="dataMovimentacao">
        <button type="submit">Enviar</button>
    </form>
</div>
